# ~/Projects/honeydew/.gitignore
# Ignore Project Scratchwork Files
~Projects/honeydew/test.py

# Ignore Project compiled Python binaries
*.pyc

# Ignore personal project notes
NOTES.md

# Ignore IDE specific files
*.xml
*.iml
*.idea
